<div class="card custom-card">
  <div class="card-body">

    <div class="card-title c-title">
      <h4 class="info-title">Lighting</h4>
    </div>

    <div class="row mt-6" style="margin-top: 40px;">

      <div class="col-9 d-flex flex-row justify-content-around c-content">

        <div class="left-content">
          <span>32</span>
        </div>

        <div class="centre-content">
          <h4><span class="badge bg-secondary mt-3" style="background-color:#6DD0A5 !important">ON</span></h4>
        </div>

      </div>

      <div class="col-3 d-flex flex-row align-items-end" style="margin-bottom: 23px; padding: 0;">
        <div class="right-content">
          <small style="color: #999999;font-size: 15px;font-weight: 100;font-family: 'Rota-Regular';">Total</small>
          <br>
          <span style="color: #707070;font-size: 24px;font-weight: bold;font-family: 'Rota-Bolder';">43</span>
        </div>
      </div>

    </div>

  </div>
</div>
