<div class="container-fluid d-flex flex-column justify-content-center align-items-center">

  <header class="header">
    <div class="title">
      <img style="height:38px" src="../../../assets/icon/logo.svg">
    </div>
  </header>

  <div class="container card-content">

    <div class="row justify-content-center">

      <div class="col-md-4 mb-4">
        <app-aq-card></app-aq-card>
      </div>

      <div class="col-md-4 mb-4">
        <app-tmp-card></app-tmp-card>
      </div>

      <div class="col-md-4 mb-4">
        <app-aud-card></app-aud-card>
      </div>

      <div class="col-md-4 mb-4">
        <app-display-card></app-display-card>
      </div>

      <div class="col-md-4 mb-4">
        <app-light-card></app-light-card>
      </div>

    </div>

  </div>

</div>
