<!-- <div class="card custom-card" style="width: 300px;">
  <div class="card-body">

    <div class="card-title c-title">
      <h5 class="info-title">Air Quality</h5>
    </div>

    <div class="d-flex justify-content-start align-items-center mt-3 c-content">

      <div class="info-left me-2">
        <span class="card-text">72</span>
      </div>

      <div class="d-flex flex-column justify-content-center align-items-start info-right" style="margin-left: 1.3rem;">

        <div class="tempx">
          <i class="fa-solid fa-arrow-up-long fa-lg me-1"></i>
          <span>93</span>
        </div>
        <hr class="dropdown-divider">
        <div class="tempx">
          <i class="fa-solid fa-arrow-down-long fa-lg me-1"></i>
          <span>61</span>
        </div>

      </div>

    </div>

  </div>
</div> -->

<div class="card custom-card">
  <div class="card-body">

    <div class="card-title c-title">
      <h4 class="info-title">Air Quality</h4>
    </div>

    <div class="row mt-3">

      <div class="col-6 d-flex">
        <div class="info-left">
          <span class="card-text">72</span>
        </div>
      </div>

      <div class="col-6 d-flex flex-column flex-nowrap" style="padding-left:0px">

        <div class="tempx d-flex justify-content-start flex-row align-items-center">
          <i class="fa-solid fa-arrow-up-long me-2"  style="color:#6DD0A5" ></i>
          <span>93</span>
        </div>

        <hr style="margin: 1px 0px 1px 0px;">

        <div class="tempx d-flex justify-content-start flex-row align-items-center mt-2">
          <i class="fa-solid fa-arrow-down-long me-2" style="color:#fcbf43"></i>
          <span>61</span>
        </div>

      </div>

    </div>

  </div>
</div>
