<div class="card custom-card">
  <div class="card-body">

    <div class="card-title c-title">
      <h4 class="info-title">Temprature</h4>
    </div>

    <div class="row mt-3">

      <div class="col-6 d-flex">
        <div class="info-left">
          <span class="card-text">21<small style="font-family:'Rota-Regular';font-size:25px;font-weight: 200;">°C</small></span>
        </div>
      </div>

      <div class="col-6 d-flex flex-column flex-nowrap" style="padding-left:0px">

        <div class="tempx d-flex justify-content-start flex-row align-items-center">
          <img class="me-2 svg-icon" src="../../../../assets/icon/fire.svg">
          <span>26<small style="font-size:18px;font-weight: 200;font-family:'Rota-Regular'">°C</small></span>
        </div>

        <hr style="margin: 1px 0px 1px 0px;">

        <div class="tempx d-flex justify-content-start flex-row align-items-center mt-2">
          <img class="me-2 svg-icon" src="../../../../assets/icon/snowflake.svg">
          <span>18<small style="font-size:18px;font-weight: 200;font-family:'Rota-Regular'">°C</small></span>
        </div>

      </div>

    </div>

  </div>
</div>
