<div class="card custom-card">
  <div class="card-body">

    <div class="card-title c-title">
      <h4 class="info-title">Displays</h4>
    </div>

    <div class="row mt-6" style="margin-top: 40px;">

      <div class="col-6 d-flex flex-row justify-content-start c-content">

        <div class="left-content">
          <span>10</span><small style="font-size: 25px;">/16</small>
        </div>
      </div>

      <div class="col-1" style="width: 10px;padding: 0px;">
        <div class="vertical-line mt-3"></div>
      </div>

      <div class="col-4 d-flex flex-row align-items-end" style="margin-bottom: 23px; padding: 0;">

        <div class="right-content">
          <small style="color: #999999;font-size: 15px;font-weight: 100;font-family: 'Rota-Regular';">On Time</small>
          <br>
          <span style="color: #707070;font-size: 24px;font-weight: bold;font-family: 'Rota-Bolder';">00:00</span>
        </div>

      </div>

    </div>

  </div>
</div>
